---
import MainLayout from '#layouts/main-layout.astro'
---

<MainLayout>
	<h1 class="text-heading-1 font-bold text-default">Biographie</h1>
	<p class="text-body text-default">Contenu à venir...</p>
</MainLayout>
