---
import MainLayout from '#layouts/main-layout.astro'
---

<MainLayout>
	<main class="mx-auto max-w-prose space-y-4 px-8">
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quasi sapiente quas
			asperiores ullam quis, dicta ratione corrupti illo ab ipsam quo ad eos alias omnis
			praesentium, provident minima blanditiis!
		</p>
		<p>
			Itaque, culpa assumenda! Nulla incidunt non, harum ut voluptas quae doloremque sint aut hic
			cumque eius recusandae accusantium id quia sapiente, iure esse reprehenderit aliquam. Ea
			voluptatibus voluptatum maiores dolorum.
		</p>
		<p>
			Aspernatur necessitatibus explicabo asperiores suscipit excepturi amet, eum atque quos, ipsum
			dolorum, quis corporis? Dicta quia, voluptatibus repellendus quae fuga eligendi ipsa adipisci
			reiciendis ex nemo quisquam sapiente dolores facere!
		</p>
		<p>
			Incidunt, fugit iusto numquam suscipit accusantium nemo labore odit ducimus voluptatum dicta
			assumenda amet fugiat nobis voluptatem ipsum veritatis aut ab quaerat pariatur odio eum error
			asperiores. Tenetur, aspernatur culpa?
		</p>
		<p>
			Aut beatae ad, accusamus nulla amet necessitatibus earum cupiditate nemo obcaecati ullam,
			temporibus architecto sint sunt, minima iure minus enim quas dolore atque pariatur sit a
			maiores perspiciatis consectetur. Nemo.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quasi sapiente quas
			asperiores ullam quis, dicta ratione corrupti illo ab ipsam quo ad eos alias omnis
			praesentium, provident minima blanditiis!
		</p>
		<p>
			Itaque, culpa assumenda! Nulla incidunt non, harum ut voluptas quae doloremque sint aut hic
			cumque eius recusandae accusantium id quia sapiente, iure esse reprehenderit aliquam. Ea
			voluptatibus voluptatum maiores dolorum.
		</p>
		<p>
			Aspernatur necessitatibus explicabo asperiores suscipit excepturi amet, eum atque quos, ipsum
			dolorum, quis corporis? Dicta quia, voluptatibus repellendus quae fuga eligendi ipsa adipisci
			reiciendis ex nemo quisquam sapiente dolores facere!
		</p>
		<p>
			Incidunt, fugit iusto numquam suscipit accusantium nemo labore odit ducimus voluptatum dicta
			assumenda amet fugiat nobis voluptatem ipsum veritatis aut ab quaerat pariatur odio eum error
			asperiores. Tenetur, aspernatur culpa?
		</p>
		<p>
			Aut beatae ad, accusamus nulla amet necessitatibus earum cupiditate nemo obcaecati ullam,
			temporibus architecto sint sunt, minima iure minus enim quas dolore atque pariatur sit a
			maiores perspiciatis consectetur. Nemo.
		</p>
	</main>
</MainLayout>
