---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout>
	<main class="mx-auto mt-16 max-w-prose space-y-4 text-base">
		<p>
			Site en cours de création dédié à la mémoire de la Chercheuse en Histoire de l'Art Vanessa
			Noizet.
		</p>
		<p class="text-center">RDV au printemps 2026</p>
	</main>
</MainLayout>
