---
import { ChevronDownIcon } from '@lucide/astro'
import Button from './button.astro'

export type Props = {
	title: string
}
---

<c-dropdown class="group relative">
	<Button data-dropdown-button aria-expanded="false" aria-haspopup="true">
		<span>{Astro.props.title}</span>
		<ChevronDownIcon class="transition-transform group-data-[open]:translate-y-0.5" />
	</Button>
	<div
		data-dropdown-content
		class="border-border bg-surface-1 absolute top-full z-10 mt-2 hidden w-40 translate-y-1 overflow-hidden rounded-md border opacity-0 transition-all transition-discrete duration-500 group-data-[open]:block group-data-[open]:opacity-100 group-data-[open]:starting:translate-y-0.5 group-data-[open]:starting:opacity-0"
	>
		<slot />
	</div>
</c-dropdown>

<script>
	customElements.define(
		'c-dropdown',
		class Dropdown extends HTMLElement {
			#button: HTMLElement | null = null
			#isOpen = false

			constructor() {
				super()
			}

			connectedCallback() {
				this.#button = this.querySelector('button[data-dropdown-button]')
				this.#button?.addEventListener('click', this.#handleClick)
				document.addEventListener('click', this.#handleClickOutside)
				document.addEventListener('keydown', this.#handleKeydown)
				document.addEventListener('astro:before-preparation', this.#close)
			}

			disconnectedCallback() {
				this.#button?.removeEventListener('click', this.#handleClick)
				document.removeEventListener('click', this.#handleClickOutside)
				document.removeEventListener('keydown', this.#handleKeydown)
				document.removeEventListener('astro:before-preparation', this.#close)
			}

			#handleClick = () => {
				if (this.#isOpen) this.#close()
				else this.#open()
			}

			#handleClickOutside = (e: Event) => {
				if (this.#isOpen && !this.contains(e.target as Node)) {
					this.#close()
				}
			}

			#handleKeydown = (e: KeyboardEvent) => {
				if (this.#isOpen && e.code === 'Escape') {
					this.#close()
					this.#button?.focus()
				}
			}

			#open = () => {
				this.#isOpen = true
				this.toggleAttribute('data-open', this.#isOpen)
				this.#button?.setAttribute('aria-expanded', 'true')
			}

			#close = () => {
				this.#isOpen = false
				this.toggleAttribute('data-open', this.#isOpen)
				this.#button?.setAttribute('aria-expanded', 'false')
			}
		}
	)
</script>
