@import 'open-color/open-color.css';
@import 'tailwindcss';

:root {
	/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--text-fl--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
	--text-fl--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
	--text-fl-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
	--text-fl-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
	--text-fl-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
	--text-fl-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
	--text-fl-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
	--text-fl-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

@theme {
	--text-body: var(--text-fl-0);
	--text-body--line-height: 1.5;

	--text-heading-1: var(--text-fl-5);
	--text-heading-1--line-height: 1.1;

	--text-heading-2: var(--text-fl-4);
	--text-heading-2--line-height: 1.2;

	--text-heading-3: var(--text-fl-3);
	--text-heading-3--line-height: 1.2;

	--text-heading-4: var(--text-fl-2);
	--text-heading-4--line-height: 1.3;

	--text-heading-5: var(--text-fl-1);
	--text-heading-5--line-height: 1.4;

	--text-heading-6: var(--text-fl-0);
	--text-heading-6--line-height: 1.4;

	--text-small: var(--text-fl--1);
	--text-small--line-height: 1.5;

	--text-caption: var(--text-fl--2);
	--text-caption--line-height: 1.5;

	--color-default: var(--oc-gray-8);
	--color-muted: var(--oc-gray-6);
	--color-disabled: var(--oc-gray-5);

	--color-surface: var(--oc-gray-0);
	--color-surface-secondary: var(--oc-gray-1);
	--color-surface-hover: var(--oc-gray-3);

	--color-separator: var(--oc-gray-3);
	--color-border: var(--oc-gray-4);
}
