---
import '../style.css'
import DesktopNav from '#features/navigation/components/desktop-nav.astro'
import MobileNav from '#features/navigation/components/mobile-nav.astro'
import { ClientRouter } from 'astro:transitions'
import TransitionProgress from '#components/transition-progress.astro'
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vanessa Noizet</title>
		<ClientRouter />
	</head>
	<body class="text-fl-0 text-body font-serif">
		<TransitionProgress />
		<header class="md:bg-surface-1 md:sticky md:top-0">
			<DesktopNav class="hidden md:block" />
			<MobileNav class="fixed top-3 right-6 md:hidden" />
		</header>

		<main>
			<slot />
		</main>
	</body>
</html>
